.formButton {
  float: right;
}

.formButtonNonFloat {
  margin: 0;
  position: absolute;
  top: 60%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.formText {
  font-size: 1rem;
}

.formLinkText {
  font-size: 1rem;
  color: red;
}

.formLinkText:hover {
  color: rgb(233, 116, 116);
}

.imgbox {
  background-image: url("redBg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.colorbg {
  background-color: rgb(255, 210, 210);
}

.profileColorbg {
  background-color: rgb(255, 210, 210);
}

.adminProfileColorbg {
  background-color: rgb(255, 210, 210);
  height: 100vh;
}

.imagebg {
  background-image: url("lightBg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.imageheader {
  background-image: url("final.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 55vh;
}

.leftHome {
  float: left;
  margin: auto;
}

.rightHome {
  float: right;
  background-color: white;
  height: 100vh;
}

.whiteBox {
  background-color: white;
  border-radius: 5px;
  border-color: white;
  box-sizing: border-box;
  width: 78%;
  border: solid white 2ch;
  margin-left: 11%;
  padding-right: 3%;
}

.infoBox {
  background-color: white;
  border-radius: 5px;
  border-color: white;
  box-sizing: border-box;
  width: 90%;
  border: solid #ffffff 1px;
  margin-left: 5%;
  margin-right: 5%;
  padding-right: 3%;
  height: 40vh;
  /* box-shadow: 5px 10px 4px 2px #cccccc; */
}

.infoTextHeading {
  text-align: center;
  color: rgb(245, 121, 121);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.infoTextList {
  text-align: center;
  color: rgb(46, 46, 46);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.centerText {
  position: absolute;
  width: 100px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin-left: -50px; /* margin is -0.5 * dimension */
  margin-top: -25px;
}

.user {
  display: inline-block;
  width: 30ch;
  height: 30vh;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.padded {
  padding: 2%;
}

.profileTextHeading {
  color: rgb(119, 119, 119);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.profileTextNumbers {
  color: rgb(245, 121, 121);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.headingText {
  color: rgb(245, 121, 121);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.fontFam {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.graphLabel {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}
.metaDataRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.metaDataRowKey {
  padding: 3px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.metaDataRowVal {
  padding: 3px;
  font-weight: 100;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.metaDataCard {
  padding: 20px;
  width: 35%;
}
.metaDatasContainer {
  display: flex;
  justify-content: space-between;
}
.classificationDataCard {
  padding: 20px;
  margin: 30px;
  width: 40%;
  height: 400px;
  overflow-y: auto;
}
